.section-wrapper {
  background-color: var(--color-darkest);
  border-radius: var(--border-radius-primary);
  padding: var(--padding-primary);
  margin-top: var(--margin-primary);
}

.section-header h4 {
  font-size: 36px;
  font-weight: var(--font-weight-bold);
}

.most-popular-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
